body {
	background: url("../img/background.jpeg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

form {
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
    flex-direction: column;
}

input[type="text"] {
	margin-top: 20px;
	padding: 20px;
	border-radius: 5px;
	border:2px solid #000099;
	background-color: #e5e5ff;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}

label {
	align-self: center;
    margin-top: 10px;
    font-family: 'Raleway', sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #fff;
}

input[type="submit"] {
	margin-top: 30px;
	padding: 12px 30px;
	border-radius: 5px;
	border:2px solid #fff;
	background-color: #000099;
	color:#fff;
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	font-weight: bold;
	outline: 0;
	-webkit-transition: all 1.1s ease;
    transition: all 1.1s ease;
    cursor:pointer;
}

input[type="submit"]:hover {
	color:#000099;
	background-color: #fff;
	-webkit-transition: all 1.1s ease;
    transition: all 1.1s ease;
}